<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            {% comment %}
            {% unless site.facebook_username == %}
            <a id="contact-button" href="https://m.me/{{site.facebook_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Ping me on Messenger
            </a>
            {% endunless %}
            {% endcomment %}
            
            <!-- Service Image Section -->
            <div class="column is-full has-text-centered" style="margin: 2rem 0;" id="service">
                <h2 class="title is-2 has-text-black is-uppercase has-text-weight-bold" style="margin-bottom: 2rem; text-shadow: 2px 2px 4px rgba(255,255,255,0.8);">Products & Services</h2>
                <figure class="image" style="max-width: 800px; margin: 0 auto;">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/service.jpg" alt="Service Image" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                </figure>
            </div>
            
            <!-- Divider Line -->
            <hr class="divider" style="border: none; height: 2px; background: linear-gradient(to right, transparent, #333, transparent); margin: 3rem auto; max-width: 400px;">
            
            {% unless site.email == %}
            <a id="contact-button" href="mailto:support@dendengame.com"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            {% endunless %}
            {% comment %}
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            {% endunless %}
            {% endcomment %}
        </div>
    </div>
</section>
